.banner__container{
    background-color: var(--background-color);
    height: 49rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__box{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    justify-content: center;
    gap: 3.5rem;
}
#banner-text{
    width: 71%;
    text-align: center;
}
.banner__button{
    border: none;
    background-color: var(--brand-1);
    padding: 1rem 2rem 1rem 2rem;
}
.banner__button:hover{
    background-color: var(--brand-2) !important;
}