.comments__container{
    background-color: var(--background-color);
    height: 1387px;
    display: flex;
    justify-content: center;
}
.comments__box{
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.right__block{
    width: 35%;
    background-color: var(--brand-1);
    height: 25%;
    padding: 3rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: column;
}
.comments__right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 60%;
}
.left__block{
    width: 50%;
    height: 80%;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    justify-content: space-between;
}
.comment__item{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.student__info{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 10px;

}
.comment__text{
    width: 500px;
    

}

@media (min-width: 425px) and (max-width: 768px) {
    /* regras de estilo aqui */
    .comments__container{
        background-color: var(--background-color);
        height: 1387px;
        display: flex;
        justify-content: center;
    }
    .comments__box {
        width: 75%;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-top: 250px;
    }
    .right__block{
        width: 35%;
        background-color: var(--brand-1);
        height: 25%;
        padding: 3rem 2rem 3rem 2rem;
        display: flex;
        flex-direction: column;
    }
    .left__block{
        width: 45%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
  }