body{
    background-color: black;
}
header{
    background-color: var(--background-color2);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__box{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
#register-button{
    background-color: var(--background-color2);
    color: var(--color-gray-7);
    border: 2px solid var(--color-gray-7);
    font-size: var(--font-text-size-4);
    padding: 1rem 2rem 1rem 2rem;
}

.banner__container{
    background-color: var(--background-color);
    height: 49rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__box{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    justify-content: center;
    gap: 3.5rem;
}
#banner-text{
    width: 71%;
    text-align: center;
}
.banner__button{
    border: none;
    background-color: var(--brand-1);
    padding: 1rem 2rem 1rem 2rem;
}
.banner__button:hover{
    background-color: var(--brand-2) !important;
}
.about__container{
    height: 18rem;
    background-color: var(--background-color2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__box{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about__title{
    width: 50%;
}
#about-text{
    width: 45%;
}
.FAQ__container{
    background-color: var(--background-color);
    height: 1132px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FAQ__main{
    display: flex;
    justify-content: space-between;
    height: 90%;
    width: 75%;
}
.FAQ__left{
    width: 45%;
}
.FAQ__left--box{
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.FAQ__right{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 968px;
    gap: 1rem;
}
.FAQ__button--register{
    border: none;
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--brand-1);
    max-width: 266px;
}
.FAQ__right--item{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.FAQ__title{
   text-align: center;
}
.comments__container{
    background-color: var(--background-color);
    height: 1387px;
    display: flex;
    justify-content: center;
}
.comments__box{
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.right__block{
    width: 35%;
    background-color: var(--brand-1);
    height: 25%;
    padding: 3rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.left__block{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.comment__item{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.student__info{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 10px;

}
.comment__text{
    width: 500px;

}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: var(--background-color2);
}
